// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~swiper/swiper-bundle.min.css";

@import "~aos/dist/aos.css";

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Montserrat', sans-serif ;
    &:before,&:after {
        box-sizing: border-box;
    }
}
body {
    overflow-x: hidden;
    font-size:15px;
    scroll-behavior: smooth;
    background:#fff;
}
.wrapper {
    width: 100%;
}
.container-fluid {
    padding: 0 45px;
    .row {
        margin-right: 0;
    }
    @media screen and (max-width: $md) {
        padding: 0 10px;
    }
}
.container {
    .row {
        margin:0;
    }
}
:focus, :active {
outline: none; }
a {
    color:black;
    &:focus, &:hover, &:active {
        outline:none;
        color:black;
        text-decoration: none;
    }
}
aside, nav, footer, header, section {
    display: block; 
}

li {
    display:block;
}
span {
    font-weight: 600;
}
p {
    margin:0;
    line-height: 22px;
}
a {
    margin:0;
    letter-spacing: .1em;
}
.be-static {
    position:static!important;
}
.btn {
    @include flexbox;
    justify-content: space-around;
    font-weight: normal;
    padding:0;
    width: 130px;
    height: 40px;
    background: $btnColor;
    border-radius: 1px;
    a {
        color:#fff;
        font-size:14px;
        text-transform: uppercase;
    }
}
.title-block {
    @include flexbox;
        padding: 30px 0 30px 0;
        h2 {
            text-align: center;
            font-size: 36px;
            line-height: 44px;
            width: 100%;
        }
        @media screen and (max-width: $sm) {
            padding: 20px 0 10px 0;
            h2 {
                font-size:26px;
                // width: 200px;
            }
        }
}
.haveIt {
    width: auto;
    height: 40px;
    text-align: right;
    position:relative;
    margin-left:auto;
    padding-left:25px;
    @include flexbox;
    visibility: hidden;
    &_active {
        visibility: visible;
    }
    p {
        margin-left:auto;
        color:#0BC756;
        padding-left:10px!important;
        @media (max-width:$sm) {
            padding-left:5px!important;    
        }
    }
    &:before {
        content:'';
        @include positionAbsolute;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        border:1px solid #000;
        background: url('../image/befenits/check.svg') no-repeat center center/60%;
    }
    @media (max-width:$sm) {
        align-items: flex-start;
        &:before {
            width: 20px;
            height: 20px;
        }
    }
    &_static {
        align-items: center!important;
        &:before {
            width: 30px!important;
            height: 30px!important;
        }
    }
}

// Header parts
@import 'header';
@import 'befenits';
@import 'about';
@import 'products';
@import 'delivery';
@import 'call';
@import 'reviews';
@import 'footer';
